body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-form > div{
  min-width: 35vw;
}

.vaccine-img {
  max-width: 60px
}

.vaccine-img2 {
  max-width: 150px
}

td, th{
  vertical-align: middle !important;
}

.toast{
  bottom: 50px;
}

.cursor-pointer{
  cursor: pointer;
}
